.contacto{
    margin-bottom: 20px;
}
.contacto__titulo{
    display: flex;
    justify-content: center;
    padding: 40px 0PX;

}

.contacto__form{

}

.contacto__info{
    display: flex;
    flex-direction: column;

}

.contacto__info--icon{
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    font-size: 20px;

}

.contacto__info--texto{
    font-size: 13px;
    margin-left: 15px;
}