.carta{
    margin: 0px !important;
    display: flex;
}

.card {
    margin: 20px;
}

.card__img{
    height: 220px;
    width: 50%;
}

.col {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.card-vuelo {
    font-size: 20px;
}

.card-vuelo {
    padding-left: 20px;
}

.card-body span{
    margin-left: 70px;
    font-size: 30px;
}

.card-title{
    font-weight: bold;
    font-size: 25px;
}
